*{
    padding: 0;
    margin: 0;
}

.header-promotion {
    background: #cfd3cb;
    text-align: center;
    padding: 0 20px;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    color: #323232;
    position: relative;
    z-index: 200;
    margin-bottom: 20px;
}

.header-promotion__slide {
    display: block !important;
    margin: 0!important;
    height: 36px;
    overflow: hidden;
}

.header-promotion__slide-item {
    height: 36px !important;
    line-height: 20px;
    padding: 7px 0 9px;
    border: none;
    outline: none;
    box-shadow: none;
    border: none !important;
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    box-sizing: border-box;
}


//banner

.banner-container .banner-category {
    position: absolute;
    display: flex;
    top: 50%;
    bottom: 0;
    transform: translate(-50%, -50%);
    flex-direction: column;
    justify-content: center;
    width: 33.3333%;
    text-align: center;
}

.banner-container {
    padding: 0 15px;
    position: relative;
    margin-bottom: 40px;
}

.banner-category {
    left: 20%;
}

.banner-title {
    color: #000000;
    text-align: left;
    font-size: 2.1vw;
    margin-bottom: 0;
}

.banner-description {
    color: #343434;
    text-align: left;
    font-size: 1.1vw;
}




