.page-with-side-bar .right-main {
  float: right;
  clear: right;
  min-height: 1px;
  margin-bottom: 30px;
  width: calc(100% - 300px);
}

.checkout-content>h3 {
  display: block;
    font-weight: 400;
    color: #a4712a;
    line-height: 1;
    font-weight: 24px;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

.col-1 {
  width: 100%;
    float: none;
    clear: none;
    margin-bottom: 15px;
}

.form-row {
  padding: 3px;
    margin: 0 0 6px;
    width: 50%;
    float: left;
}

.form-row label {
  line-height: 2;
}

.form-row .required {
  visibility: visible;
  color: red;
    font-weight: 700;
    border: 0 !important;
    text-decoration: none;
}

.payment-options {
  margin-top: 2rem;
  h4 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 1rem;
  }

  label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: #555;

    input[type="radio"] {
      margin-right: 0.5rem;
    }
  }
}

